body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: black;
    backdrop-filter: blur(100px);
    font-family: 'Roboto', sans-serif;
}

.navbar{  
    position: relative;
    text-decoration: none;
    background-color:rgba(0, 0, 0, 0.335);
    backdrop-filter: blur(100px);
    padding: auto;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}


.navlist{
    list-style-type: none;
    margin-right: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 500px;
    height: 100%;
    padding: 0 20px;
    text-decoration: none;
}

.navlist li a{
    color: #fff;
    text-decoration: none;
    list-style-type: none;
}

.navlist li a:hover{
    color: #fff;
    text-decoration: underline;
    list-style-type: none;
}

.footer{
    background-color: #0000000f;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    bottom: 0;
    width: 100%;
}

@keyframes AnimB {
    0%{background-color:#1e00ff; border-radius: 50;}
    25%{background-color:#7300ff;border-radius: 60;}
    50%{background-color:#b700ff;border-radius: 70;}
    100%{background-color:#1e00ff;border-radius: 50;}
}

.blob{
    animation: AnimB 10s ease infinite;
    margin: 0 auto;
    position:absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 120px;
    background-color:#1e00ff;
	height: 500px;
	width: 500px;
	border-radius: 50%;
    filter: blur(200px);
    z-index: -2;
}

h1{
    color: #fff;
}

p{
    color: #fff;
}
